body{
    font-family: "Arial", sana-serif;
    font-weight: bold;
    text-align: center;
}
.font-primary{
    color:rgb(10, 226, 100)
}

#about{
    font-weight: bold;
    margin : 150px auto;
    max-width: 450px;
    text-align: center;
}
#about img{
    border-radius:45%;
    width: 200px;
    margin-bottom: 10px;
}
#about .name{
    font-size: 19px;
}
#about .vocation{
    font-size: 17px;
    color:rgba(134, 134, 134, 0.644);
    margin-bottom: 10px;
}

#about .skills{
    font-size: 16px;
    color:rgb(12, 128, 60);
    margin-bottom: 10px;
}

#about .email{
    margin-top: 14px;
    font-size: 21px;
    color:rgb(134, 134, 134)

}

#about .icons{
    margin-top: 20px;
    font-size: 30px;


}
h2{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px
}

a .font-black{
    color: black !important;
}

#Project{
    margin: 60px auto;
    width: 80%;

}
#Project h2{
    text-align: center;
}

#project .card img{
    width: 100%;
}

.card-text{
    font-size: large;
    margin-top: 50px;
    text-align: left;
}

.card-title{
    font-weight: bold;
    color:darkcyan;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.btn-secondary{
    font-weight: bold;
    border-radius: 5%;
    margin-left: 5%;
    margin-top:20px ;

}